# Angular build artifacts
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache
/.angular/config.json

# Node
/node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage reports
/coverage

# Compiled files
*.js
*.d.ts
*.js.map
*.tsbuildinfo

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.code-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Optional: if you're using Prettier
.prettierignore

# Optional: ESLint cache
.eslintcache

# Misc
/connect.lock
/libpeerconnection.log
testem.log
.typings
.sass-cache/
.history/

# System files
.DS_Store
Thumbs.db
