<div class="header">
  <div class="container">
    <div class="header-wrapper">
      <a routerLink="/" class="logo-link">
        <img src="/assets/images/kip-kompas-logo.png" alt="Logo" class="logo" />
      </a>
      <app-header-nav></app-header-nav>
      <div class="headers-btn-wrapper">
        <button class="btn search-btn"><app-svg-icon name="search" /></button>
        <a class="user-btn" routerLink="/user" routerLinkActive="active"
          ><app-svg-icon name="user-tick"
        /></a>
      </div>
    </div>
  </div>
</div>
