:host {
  height: 100%;
}

.header-nav {
  align-items: center;
  display: flex;
  font-size: var(--font-size-xl);
  gap: 20px;
  height: 100%;
  padding-left: 120px;
}

.menu-item {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 100%;
  opacity: 0.7;
  padding: 0 20px;
  transition:
    opacity 0.3s ease,
    background 0.3s ease;
}

.menu-item:hover {
  opacity: 1;
}

.active {
  background-image: radial-gradient(
    ellipse at center,
    rgb(255 255 255 / 20%) 0%,
    rgb(255 255 255 / 15%) 25%,
    rgb(255 255 255 / 10%) 50%,
    rgb(255 255 255 / 5%) 75%,
    transparent 100%
  );
  opacity: 1;
}
