<address class="contact-info">
  <section class="section" aria-label="Контактный телефон">
    <h4 class="label">Телефон</h4>
    <p class="value">
      <app-svg-icon class="icon" name="phone" />
      <a class="link" href="tel:+74954915797">+7 (495) 491-57-97</a>
    </p>
  </section>
  <section class="section" aria-label="Электронная почта">
    <h4 class="label">E-mail</h4>
    <p class="value">
      <app-svg-icon class="icon small" name="email" />
      <a class="link" href="mailto:secretariat@ntckompas.ru">secretariat&#64;ntckompas.ru</a>
    </p>
  </section>
  <section class="section" aria-label="Адрес">
    <h4 class="label">Адрес</h4>
    <p class="value">
      <app-svg-icon class="icon" name="location" />
      <a
        href="https://yandex.ru/maps/-/CHDZADkJ"
        class="link"
        target="_blank"
        rel="noopener noreferrer"
      >
        Россия, г. Москва<br />
        Волоколамское шоссе, д. 77
      </a>
    </p>
  </section>
</address>
